@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered table-condensed">
    <tr>
        <th>Customer</th>
    </tr>
    @foreach (var cust in Model.Customers)
    {
        <tr>
            <td>
                <p>@cust.Name</p>
            </td>
        </tr>
    }
</table>